---
import Layout from '../layouts/Layout.astro';
import ArchiveSlide from '../components/ArchiveSlide.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { topSlides, bottomSlides } from '../data/slides';
import { projects } from '../data/projects';
---

<Layout title="Webflow Designer / Kayrat">
    <div id="webgl" data-astro-cid-pp7spb2p>
        <canvas data-astro-cid-pp7spb2p></canvas>
    </div>

    <aside class="archive" data-astro-cid-pp7spb2p>
        <div class="slider top" data-astro-cid-pp7spb2p>
            {topSlides.map(slide => <ArchiveSlide slide={slide} />)}
        </div>
        <div class="slider bottom" data-astro-cid-pp7spb2p>
            {bottomSlides.map(slide => <ArchiveSlide slide={slide} />)}
        </div>
    </aside>

    <div id="archive-button" data-astro-cid-ab5ug5lk>
        <a href="#archive" class="open" data-astro-cid-ab5ug5lk>
            {[...Array(7)].map((_, i) => (
                <div 
                    class="card" 
                    style={`transform: rotateY(${i * 51.42857142857142}deg) translate3d(0, 0, 45px) scaleY(var(--scaleY)); --index: ${i};`}
                    data-astro-cid-ab5ug5lk
                ></div>
            ))}
        </a>
        <a href="#" class="close" data-astro-cid-ab5ug5lk>
            <span data-astro-cid-ab5ug5lk>Close</span>
        </a>
    </div>

    <main data-astro-cid-j7pv25f6>
        <section class="home-content" data-astro-cid-j7pv25f6>
            <h1 class="home-headline split h1">~Kayrat Medeshov~</h1>
            
            <h2 class="home-sub-headline split h2">About</h2>
            <p class="home-about-text split text">
                I am a Frontend Developer, I build value through design. Product Designer with 5 years of experience. 
                Masters Degree in CS. I craft pet projects in my leisure hours.
            </p>

            <h2 class="home-sub-headline split h2">Projects</h2>
            <ul class="projects-nav" data-astro-cid-j7pv25f6>
                {projects.map(project => (
                    <li class="text split" data-astro-cid-j7pv25f6>
                        <a href={`#${project.id}`} data-astro-cid-j7pv25f6>{project.title}</a>
                    </li>
                ))}
            </ul>

            <h2 class="home-sub-headline split h2">Links</h2>
            <ul data-astro-cid-j7pv25f6>
                <li class="text" data-astro-cid-j7pv25f6>
                    <p class="split">
                        <a target="_blank" rel="noopener" href="https://www.t.me/kaicex">Telegram</a>
                    </p>
                </li>
                <li class="text" data-astro-cid-j7pv25f6>
                    <p class="split">
                        <a target="_blank" rel="noopener" href="https://www.behance.net/kaicex">Behance</a>
                    </p>
                </li>
                <li class="text" data-astro-cid-j7pv25f6>
                    <p class="split">
                        <a href="mailto:kayrat.medeshov@gmail.com">Email</a>
                    </p>
                </li>
                <li class="text" data-astro-cid-j7pv25f6>
                    <p class="split">
                        <a target="_blank" rel="noopener" href="/kayrat_medeshov_dev_cv.pdf">CV</a>
                    </p>
                </li>
            </ul>
        </section>

        <div id="project-close" data-side="left" data-astro-cid-yrg7gwqs>
            <p class="text" data-astro-cid-yrg7gwqs>Close</p>
        </div>

        {projects.map(project => <ProjectCard project={project} />)}
    </main>
</Layout>

<style>
</style>
